<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  
  <a mat-button routerLink="/mcqtest" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> MCQ</a>
  <a mat-button routerLink="/codingQuestions" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Coding</a>
  
  <a mat-button *ngIf="!auth.isLoggedIn()"  routerLink="/login" routerLinkActive="active"><span class="fa fa-list fa-lg"></span>  Login</a>
  <a mat-button *ngIf="auth.isLoggedIn() && !submitting" (click)="Logout()"><span class="fa fa-list fa-lg"></span>  Logout</a>
  <a mat-button *ngIf="submitting" ><span class="fa fa-list fa-lg"></span>  Logging Out..</a>
</mat-toolbar>

<!--
<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>IntroQuest</h1>
    <p>One stop solution to all your career related problems.
       Whether it be company interview or Email Writing Simulation or C Coding Simulator for command line arguments. Leave your worries to us. Prepare from us!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>
-->