<div class="container footer" 
    fxLayout="row" 
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center" 
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutWrap 
    fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button >Home</a></mat-list-item>
          <mat-list-item><a mat-button >About</a></mat-list-item>
          <mat-list-item><a mat-button >Menu</a></mat-list-item>
          <mat-list-item><a mat-button >Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="50">
        <h4>Our Address</h4>
        <address >
          Ramanujam Hostel<br> Kamla Nehru Institute of Technology<br>Sultanpur<br>
          <i class="fa fa-phone"></i>: +91 7355490341<br>
          
          <i class="fa fa-envelope"></i>:
          <a href="mailto:alokshakya75@gmail.com">alokshakya75@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="https://plus.google.com/107650232466924951664"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/alok.shakya.56"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/alokshakya"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="https://twitter.com/alokshakya75"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-github" href="https://github.com/alokshakya"><i class="fa fa-github fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:alokshakya75@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
      <a mat-icon-button class="btn-medium" href="https://medium.com/@alokshakya75"><i class="fa fa-medium fa-lg"></i></a>
    </div>
  </div>
  <div fxFlex="100" fxFlexAlign="center center">
    <div style="text-align:center;">
      <p>© Copyright 2018 IntroQuest</p>
    </div>
  </div>
</div>