
<div style="padding: 2%; margin: 0.5%;">


    <div [hidden]="codingQuestion || errMess" >
        <mat-spinner><h4>Loading Questions . . . Please Wait</h4></mat-spinner>
    </div>
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    
    <a mat-raised-button style="background-color: darkblue; color: cornsilk" (click)="goBack()"> Back </a>
    <app-markdown *ngIf="codingQuestion" [data]='codingQuestion.description'></app-markdown>

    <div fxFlexLayout> 
    <form>
      <p>Select Theme : &nbsp;&nbsp;
          <mat-form-field>
              <mat-select [(value)]="theme" (change)="changeTheme()">
                <mat-option *ngFor="let th of themes" [value]="th">{{th}}</mat-option>
              </mat-select>
          </mat-form-field> 
          &nbsp;&nbsp;&nbsp;&nbsp; Select Language &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
              <mat-select [(value)]="language" (change)="changeLanguage()">
                <mat-option *ngFor="let lg of languages" [value]="lg">{{lg.name}}</mat-option>
              </mat-select>
          </mat-form-field> 
      </p>
        
      <textarea id="code" name="code" #code [(ngModel)]="editorCode">
      </textarea>
    <a mat-raised-button style="background-color: darkblue; color: cornsilk" (click)="submitCode()"> Run & Test </a>
    <a mat-raised-button style="background-color: darkblue; color: cornsilk" (click)="submitCode()"> Submit </a>
  </form>
  <div *ngIf="compilationError">
    <h3>compilationError</h3><br>
    {{res.stderr}}
  </div>
  <div *ngIf="runError">
      <h3>Run Time Error</h3><br>
      {{res.error}}
    </div>
    
    <div *ngIf="output">
        <h3>Sample Test Case Passed</h3><br>
         Sample Input : {{codingQuestion.sampleInput}}<br>
         Your Output : {{output}}<br>
      </div>
</div>  
</div> 
<hr>

  