
  <p>{{problem.problem}}</p>
  <p>{{problem.sampleInput}}</p>
  <p>{{problem.sampleOutput}}</p>
    <h2>Theme Demo</h2>
    <div fxFlexLayout> 
    <form>
      <p>Select Theme : &nbsp;&nbsp;
          <mat-form-field>
              <mat-select [(value)]="theme" (change)="changeTheme()">
                <mat-option *ngFor="let th of themes" [value]="th">{{th}}</mat-option>
              </mat-select>
          </mat-form-field> 
          &nbsp;&nbsp;&nbsp;&nbsp; Select Language &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
              <mat-select [(value)]="language" (change)="changeLanguage()">
                <mat-option *ngFor="let lg of languages" [value]="lg">{{lg.name}}</mat-option>
              </mat-select>
          </mat-form-field> 
      </p>
        
      <textarea id="code" name="code" #code [(ngModel)]="editorCode">
      </textarea>
    <a mat-button (click)="submitCode()"> Run & Test </a>
  </form>
</div>   
  