 
<div [hidden]="questions || errMess" >
    <mat-spinner><h4>Loading . . . Please Wait</h4></mat-spinner>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
<div *ngFor="let mcq_ques of questions">
    <div class="mcqQuestion">        
    <app-markdown [data]='mcq_ques.description'></app-markdown><br>
    <mat-radio-group>
        <mat-radio-button value="mcq_ques.optionA">{{mcq_ques.optionA}}</mat-radio-button><br><br>
        <mat-radio-button value="mcq_ques.optionB">{{mcq_ques.optionB}}</mat-radio-button><br><br>
        <mat-radio-button value="mcq_ques.optionC">{{mcq_ques.optionC}}</mat-radio-button><br><br>
        <mat-radio-button value="mcq_ques.optionD">{{mcq_ques.optionD}}</mat-radio-button><br><br>
    </mat-radio-group><br>
    <h4 style="color: green;">Answer : {{mcq_ques.answer}}</h4>
  </div>
  


</div>