<div class="container"
     fxLayout="row"
    
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card class="developer-title">
    <mat-card-header >
      <div mat-card-avatar></div>
      <mat-card-title >
        <h3>Alok Shakya </h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/alok.jpg" alt="Alok Shakya">
    <mat-card-content>
      <h4>Developer</h4>
      <p>Alok Shakya has developed backend APIs for working of this project. Apart from this he has managed hasura cloud cluster.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="developer-title">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Abhishek Kumar </h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/alok.jpg" alt="Alok Shakya">
      <mat-card-content>
        <h4>Developer</h4>
        <p>Abhishek has developed backend APIs for working of this project. Apart from this he has managed hasura cloud cluster.
        </p>
      </mat-card-content>

  </mat-card>

  <mat-card class="developer-title">
      <mat-card-header >
        <div mat-card-avatar></div>
        <mat-card-title >
          <h3>Adarsh Yadav </h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/alok.jpg" alt="Alok Shakya">
      <mat-card-content>
        <h4>Developer</h4>
        <p>Adarsh Yadav has developed backend APIs for working of this project. Apart from this he has managed hasura cloud cluster.
        </p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="developer-title">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
            <h3>Tushar Bansal </h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/alok.jpg" alt="Alok Shakya">
        <mat-card-content>
          <h4>Developer</h4>
          <p>Tushar Bansal has developed backend APIs for working of this project. Apart from this he has managed hasura cloud cluster.
          </p>
        </mat-card-content>
  
    </mat-card>
  

</div>

